<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form #registerForm="ngForm">
          <h1>URL Shortener</h1>
          <div class="form-group">
            <input name="url" ngModel #url="ngModel" type="text" class="">
          </div>
          <button type="submit" class="btn btn-success" (click)="onSubmit(registerForm)">Submit</button>
        </form>
        <!-- <form #registerForm="ngForm">
            <h1>Reverse Hash Url</h1>
            <div class="form-group">
              <input name="url" ngModel #url="ngModel" type="text" class="f">
            </div>
            <button type="submit" class="btn btn-success" (click)="onSubmit2(registerForm)">Submit</button>
          </form>  -->
      </div>
    </div>
  </div>
</div>